 /* Universal Selector */
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
 }
 /* Svg camp */
 svg{
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top: 100px;
 }
 #night,#day{
     display: none;
 }
/*  Navbar and logo */
span{
   display: inline-block;
   font-size: 1.3rem;
   font-family: cursive;
   color: aliceblue;
   margin: .9rem 3rem;
   background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   
}
nav{
   font-size: 1.2rem;
}
.nav-ul{
   display: inline-flex;
 position: absolute;
 transform: translate(+10%);
 top: 0;
 right: 30px;
 margin: .9rem;
}

nav a{
   font-family: cursive;
   color:#d4f3fd  ;
   padding: .8rem;
   justify-content: right;
} 

.active{
color:#b5fcb5 ;
}

nav a:hover{
   color: darkturquoise;
}
/*  Headings and sub headings */
.heading{
   width: max-content;
   display: block;
   margin: 6.3rem auto;
   font-size: 3.5rem;
   font-family: cursive;
   background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.heading:hover{
   background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
   cursor: default;
}
.content{
   width: max-content;
   display: block;
   position: absolute;
   bottom: 59%;
   right: 50%;
   transform:translate(+50%);
   font-size: 1.5rem;
   font-family: 'Roboto', sans-serif;
   color: whitesmoke;
   /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
   background-blend-mode: multiply,multiply;
   background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 cursor: default; */
}
/*  Body selector  */
body {
	background: linear-gradient(-45deg, #000000,#000000, #902119, #ec723a);
	background-size: 400% 400%;
	animation: gradient 14s ease infinite;
}
body::after{
   content: "";
   width: 100%;
   height: 100px;
   bottom:0;
   position: absolute;
   background-image: url(waved.svg);
   animation: gradient 14s ease infinite;
}
   /* Animated Stuff */

   .box div {
   height: 60px;
   width: 60px;
   position: absolute;
   top: 10%;
   left: 10%;
   animation: gradient 14s ease infinite;
   background: rgba(255,255,255,.5);
   border-radius: 15px;
   }
   .box div:nth-child(1) {
   top: 20%;
   left: 20%;
   animation: animate 11s ease infinite;
   }
   .box div:nth-child(2) {
   top: 26%;
   left: 89%;
   animation: animate 12s ease infinite;
   }
   .box div:nth-child(3) {
   top: 80%;
   left: 90%;
   animation: animate 10s linear infinite;
   }
   .box div:nth-child(4) {
   top: 65%;
   left: 75%;
   animation: animate 7s linear infinite;
   }
   .box div:nth-child(5) {
   top: 90%;
   left: 10%;
   animation: animate 6s linear infinite;
   }
   .box div:nth-child(6) {
   top: 30%;
   left: 60%;
   animation: animate 5s linear infinite;
   }
   .box div:nth-child(7) {
   top: 70%;
   left: 33%;
   animation: animate 4s linear infinite;
   }
   .box div:nth-child(8) {
   top: 75%;
   left: 60%;
   animation: animate 7s linear infinite;
   }
   .box div:nth-child(9) {
   top: 23%;
   left: 50%;
   animation: animate 12s linear infinite;
   }
   .box div:nth-child(10) {
   top: 35%;
   left: 7%;
   animation: animate 14s linear infinite;
   }
   @keyframes animate {
   0% {
   transform: scale(0) translateY(0) rotate(50deg);
   }
   100% {
      transform: scale(0.5) translateY(-250px) rotate(360deg);
   }
}


@keyframes gradient {
   0% {
      background-position: 0% 50%;
	}
	50% {
      background-position: 100% 50%;
	}
	100% {
      background-position: 0% 50%;
	}
}
/* Animated Stuff */

/* Media Query For Heights above 850px */
   @media screen and (min-height: 1300px) {
   .content{
      bottom: 75%;
      font-size: 2rem;
   }
   body{
      background-size: 420% 420%;
   }
   svg{
      height: 400px;
      width: 500px;
   }
   .heading{
      font-size: 5.2rem;
   }
   nav{
      font-size: 1.7rem;
   }
   .logo span{
      font-size: 1.8rem;
   }
   }

   @media screen and (min-height: 1020px) {
      .content {
         bottom: 74%;
      }
   }
     @media screen and (min-height: 860px) {
           .content {
                     bottom: 67%;
                  }
               }
/* Media Query For Heights above 550px and less than 860px */
 @media screen and (max-height: 620px) {
svg{
   margin-top: 20px;
   position: absolute;
   top: 17rem;
   left: 50%;
   transform: translate(-50%);
}
.content{
   bottom: 56%;
}
}
@media screen and (max-height: 580px) {
.heading{
   margin-top: 4rem;
}
   .content{
      bottom: 60% ;
}
svg{
   top: 15rem;
}
}
/* <---------------------------------------------------------------> */
 /* Media Query For Width */
 @media screen and (max-width: 600px) {
    .heading{
       font-size: 3rem;
    }
   body{
       background-size: 1000% 1000%;
    }
    body::after{
       bottom: 0px;
       right: 0;
       width: 100%;
       /* height: 100px; */
       height: 70px;
    }
    svg{
       height: 250px;
       width: 250px;
       left: 50%;
       transform: translate(-50%);
       position: absolute;
       top: 40%;
    }
    .content{
       font-size: 1rem;
    }
 }

 @media screen and (max-width: 520px) {
   .heading{
font-size: 2.5rem;
   }
 }

 @media screen and (max-width: 550px) {
   .nav{
       /* padding: .06rem; */
   }
        .nav a{
       font-size: 1rem;
       display: block;
       width: 90px;
       margin: 0px;
       left: 50%;
       transform: translateX(-60%);
       padding: 0px;
   }
   .nav-ul{
   position: absolute;
   flex-wrap: nowrap;
   top: 3rem;
   justify-content: baseline;
   
   }
   .logo{
       margin:  .2rem auto ;
       display: block;
       width: max-content;
       font-size: 1.3rem;
       
   }
   }
   @media screen and (min-width: 2400px) {
   .heading{
       font-size: 6rem;
   }
   .content{
       font-size: 3rem;
   }
   .nav-ul{
   transform: translate(10%);
       font-size: 2rem;
   }
   }
   @media screen and (max-width: 450px) {
   .nav a{
      transform: translate(-20%);
   }
   .heading{
      font-size: 2.1rem;
   }
   }
   @media screen and (max-width: 375px) {
   .content{
       bottom: 60%;
   }
   }
   @media screen and (max-width: 390px) {
       .nav a{
           transform: translateX(30%);
           width: 85px;
           padding: .1rem;
       }
       .heading{
           font-size: 3rem;
       }
   
   }
   @media screen and (max-width: 348px) {
       .nav a{
           transform: translateX(30%);
           width: 70px;
           padding: .1rem;
           font-size: .7rem;
       }
       
       .heading text{
           font-size: 2.5rem;
       }
       .content{
           font-size: 1rem;
           bottom: 65%;
       }
   }
  
   @media screen and (max-width: 323px) {
       .nav a{
       transform: translate(50%);
       }
       .heading{
           font-size: 2.4rem;
       }
   }
   
   @media screen and (max-width: 290px) {
       .nav a{
       width: 60px;
       font-size: .6rem;
       transform: translate(80%);
       }
       .heading{
       font-size: 2.3rem;
       }
       .content{
           font-size: .8rem;
       }
   }

   @media screen and (max-width: 400px) {
svg{
   width: 200px;
   height: 200px;
}

.nav{
   transform: translate(10%);
   font-size: 1rem;
}
.heading{
   font-size: 1.7rem;
}
   }

   @media screen and (max-width: 380px) {
   .nav{
      transform: translate(-30%);
      font-size: .7rem;
      width: 80px;
   }
   .nav a{
      font-size: .8rem;
   }
   svg{
      width: 190px;
      height: 190px;
   }
   .heading{
      font-size: 1.5rem;
   }
   }

  

